@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model IEnumerable<ContactUs> *@
    @* @model Voxtus_Tech.Models.ContactUsTable *@
<h1>Contact Us Table</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Message</th>
            <th>Date/time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.ContactUslist)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.Email</td>
                <td>@obj.PhoneNo</td>
                <td>@obj.Message</td>
                <td>@obj.CreatedDateTime</td>
            </tr>
        }
    </tbody>
</table>