@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Microsoft Power Apps |";
}
 
<!--For truncate-->
@functions {
    public string Truncate(string input, int length)
    {
        if (string.IsNullOrEmpty(input) || input.Length <= length)
            return input;
        return input.Substring(0, length) + "...";
    }
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags{
<meta name="title" content="Microsoft Power Apps">
<meta name="description" content="Unleash the full potential of Microsoft Power BI and the power platform with Voxtus Technologies, the top-rated Microsoft Power App company. Experience excellence in app development and data analytics." />
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
}


<main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h2 fw-light">Our Portfolio</h1>
                @*<ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Our Portfolio</li>
                </ol>*@
            </div>

        </div>
    </section><!-- End Our Portfolio Section -->
    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <ul id="portfolio-flters" class="list-inline">
                    <li data-filter="*" class="filter-active col-lg-1 row-col-sm-12">All</li>
                        <li data-filter=".filter-app" class="col-lg-2 col-sm-12">Canvas App</li>
                        <li data-filter=".filter-web" class="col-lg-2 col-sm-12">Model Driven App</li>
                        <li data-filter=".filter-card" class="col-lg-2 col-sm-12">Power Automate</li>
                        <li data-filter=".filter-rpa" class="col-lg-1 col-sm-12">Ui Path</li>
                        <li data-filter=".filter-PBI" class="col-lg-1 col-sm-12">Power BI</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500" @*style="background-color:aliceblue"*@ >

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-app" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:500px">
                        <a asp-controller="Portfolio" asp-action="HealthManagementSystemApp"><img src="~/images/portfolio/health management system app/home1.jpg" class="img-fluid w-100 h-50" alt="Health Management System"></a>
                        <div class="portfolio-info">
                            @* <a asp-controller="Portfolio" asp-action="HealthManagementSystemApp" style="text-decoration:none"><h5 class="card-body text-success">Health Management System</h5></a> *@
                            @* <div>
                                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div> *@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="HealthManagementSystemApp" style="text-decoration:none"><h5 class="text-dark">Health Management System</h5>
                                <p class="text-dark">Developed a Health Management System using PowerApps Canvas Application to enhance patient wellness and healthcare management. The system includes features such as appointment and medication reminders, fitness and activity tracking, emergency information and contacts, and health goal setting with progress tracking, helping patients stay organized and engaged in their healthcare routines.</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-web" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:500px">
                        <a asp-controller="Portfolio" asp-action="StudentManagementApplicationApp"><img src="~/images/portfolio/student management application app/dashboard.jpg" class="img-fluid w-100 h-50" alt="Student Management Application"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="StudentManagementApplicationApp" style="text-decoration:none"><h5 class="card-body text-success">Student Management Application</h5></a>*@
                            @*<div>
                                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="StudentManagementApplicationApp" style="text-decoration:none"><h5 class="text-dark">Student Management Application</h5>
                                <p class="text-dark">@Truncate("Welcome to the Student Management App Portfolio. This project demonstrates the development of a robust student management system and dashboard built with Microsoft Power Apps and Dataverse. The app streamlines student information, manages profiles, tracks attendance and performance, and supports project allocations. The dashboard provides real-time insights into active students, enhancing decision-making and resource allocation within educational institutions. Key features include student status tracking, project allocation, attendance and grading, family management, and medical review. This system improves efficiency and transparency in managing student data and performance.",390)</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-app" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:500px">
                        <a asp-controller="Portfolio" asp-action="OrderTrackingApplication"><img src="~/images/portfolio/order tracking application app/dashboard.png" class="img-fluid w-100 h-50" alt="Order Tracking Application"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="OrderTrackingApplication" style="text-decoration:none"><h5 class="card-body text-success">Order Tracking Application</h5></a>*@
                            @*<div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="OrderTrackingApplication" style="text-decoration:none"><h5 class="text-dark">Order Tracking Application</h5>
                                <p class="text-dark">The Order Tracking application is designed to efficiently track and manage orders from placement to delivery. It includes key features such as streamlined order placement, real-time shipment and delivery tracking, timely notifications and alerts for status updates, and comprehensive order status tracking. This ensures users have full visibility and control over their orders throughout the entire process.</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-app" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:500px">
                        <a asp-controller="Portfolio" asp-action="EmployeePerformanceReviewingSystemApp"><img src="~/images/portfolio/employee performance reviewing system/fill up kra.jpg" class="img-fluid w-100 h-50" alt="Employee Performance Reviewing System"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="EmployeePerformanceReviewingSystemApp" style="text-decoration:none"><h5 class="card-body text-success">Employee Performance Reviewing System</h5></a>*@
                            @*<div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="EmployeePerformanceReviewingSystemApp" style="text-decoration:none"><h5 class="text-dark">Employee Performance Reviewing System</h5>
                                <p class="text-dark">@Truncate("Developed an Employee Performance Reviewing System to streamline the evaluation and assessment of employee performance within an organization. Key features include goal setting and alignment, continuous feedback to foster growth, performance ratings and scoring to measure achievements, and development plans to address training needs. This system enhances transparency and supports employee development through structured reviews.",390)</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-web" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:540px">
                        <a asp-controller="Portfolio" asp-action="EmployeeOnboardingApp"><img src="~/assets/img/portfolio/staff.jpg" class="img-fluid w-100 h-50" alt="Employee Onboarding App"></a>
                        <div class="portfolio-info">
                            @*  <a asp-controller="Portfolio" asp-action="EmployeeOnboardingApp" style="text-decoration:none"><h5 class="card-body text-success">Employee Onboarding App</h5></a>
                            <div>
                            <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div> *@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="EmployeeOnboardingApp" style="text-decoration:none"><h5 class="text-dark">Employee Onboarding App</h5>
                                <p class="text-dark">@Truncate("This project showcases the development of a Model-Driven App for employee onboarding, utilizing Dataverse for data storage and SharePoint for document management. The app simplifies the onboarding process by managing essential employee information, assignments, and assessments. Key features include staff information management, project and team assignments, status tracking, and comprehensive assessment and feedback collection. Future enhancements will introduce automated workflows and HR system integration, further improving onboarding efficiency and documentation for HR departments.",390)</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>
                
                    <div class="col-lg-6 col-md-6 portfolio-wrap filter-app" style="background-color:white">
                        <div class="portfolio-item" style="background-color:aliceblue; height:540px">
                        <a asp-controller="Portfolio" asp-action="InspectionApp"><img src="~/images/portfolio/inspection app/inspection app.jpg" class="img-fluid w-100 h-50" alt="Inspection App"></a>
                            <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="InspectionApp" style="text-decoration:none"><h5 class="card-body text-success">Inspection App</h5></a>*@
                                @*<div>
                                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                </div>*@
                            </div>
                            <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="InspectionApp" style="text-decoration:none"><h5 class="text-dark">Inspection App</h5>
                                <p class="text-dark">Developed a Canvas (PowerApps) application to streamline the inspection process by providing a digital platform for capturing and managing inspection data. The app includes key features such as customized inspection checklists, offline data capture for remote locations, and the ability to attach photos and documents. This solution improves the efficiency and accuracy of inspections across various environments.</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                            </div>
                        </div>
                    </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-app" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:540px">
                        <a asp-controller="Portfolio" asp-action="LeaveManagementApplicationApp"><img src="~/images/portfolio/leave management application app/home.jpg" class="img-fluid w-100 h-50" alt="Leave Management Application"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="LeaveManagementApplicationApp" style="text-decoration:none"><h5 class="card-body text-success">Leave Management Application</h5></a>*@
                            @*<div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="LeaveManagementApplicationApp" style="text-decoration:none"><h5 class="text-dark">Leave Management Application</h5>
                                <p class="text-dark">Developed a Leave Management application to streamline the process of requesting, approving, and tracking employee leaves. The application features a leave request submission and approval workflow, a leave calendar for tracking availability, notifications and reminders for upcoming leaves, and ensures compliance with company policies and regulations. This solution simplifies leave management for both employees and HR departments.</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-rpa" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:540px">
                        <a asp-controller="Portfolio" asp-action="BillingProcessAutomation"><img src="~/images/portfolio/billing process automation/img1.jpg" class="img-fluid w-100 h-50" alt="Billing Process Automation"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="BillingProcessAutomation" style="text-decoration:none"><h5 class="card-body text-success">Billing Process Automation</h5></a>*@
                            @*<div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="BillingProcessAutomation" style="text-decoration:none"><h5 class="text-dark">Billing Process Automation</h5>
                                <p class="text-dark">@Truncate("Led the Billing Process Automation project at WTW, utilizing UiPath to automate a legacy billing application, resulting in streamlined operations and reduced errors. Key features included automating the billing process, integrating UiPath Queue for efficient data processing, and configuring email automation for transaction updates. This initiative reduced processing time, improved communication, and enhanced overall efficiency in financial operations, completing the project within 3 months.",433)</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-card" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:500px">
                        <a asp-controller="Portfolio" asp-action="Web_Scraping_for_Data_Retrieval"><img src="~/images/portfolio/web scraping for data retrieval/image1.png" class="img-fluid w-100 h-50" alt="Web Scraping for Data Retrieval"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="BillingProcessAutomation" style="text-decoration:none"><h5 class="card-body text-success">Billing Process Automation</h5></a>*@
                            @*<div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="Web_Scraping_for_Data_Retrieval" style="text-decoration:none">
                                <h5 class="text-dark">
                                    Web Scraping for Data Retrieval
                                </h5>
                                <p class="text-dark">Developed a custom web scraping bot to efficiently extract and organize data from a specific website. Users could input their preferences, and the bot would retrieve and format the data, storing it in an Excel file for easy access and analysis. The project streamlined data retrieval, improved accuracy, and provided a user-friendly interface, enhancing data quality and accessibility for better decision-making.</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-app" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:500px">
                        <a asp-controller="Portfolio" asp-action="Jimenez_Wood_Products"><img src="~/images/portfolio/Jimenez Wood Products Invoicing System/JWP-1.png" class="img-fluid w-100 h-50" alt="Jimenez Wood Products Invoicing System"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="HealthManagementSystemApp" style="text-decoration:none"><h5 class="card-body text-success">Health Management System</h5></a>*@
                            @*<div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="Jimenez_Wood_Products" style="text-decoration:none"><h5 class="text-dark">Jimenez Wood Products Invoicing System</h5>
                                <p class="text-dark">@Truncate("Developed a PowerApps application to streamline the invoicing process for Jimenez Wood Products Company, featuring intuitive invoice creation, real-time invoice status tracking, and a flexible three-installment payment option. The app also includes a centralized database for clients and products, enhancing organizational efficiency and client relationship management. This solution simplifies invoicing, improves financial oversight, and supports better cash flow management.",412)</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 portfolio-wrap filter-app" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:540px">
                        <a asp-controller="Portfolio" asp-action="Cylinder_Monitoring_App"><img src="~/images/portfolio/Cylinder Monitoring App/Screenshot_3.png" class="img-fluid w-100 h-50" alt="Cylinder Monitoring App"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="HealthManagementSystemApp" style="text-decoration:none"><h5 class="card-body text-success">Health Management System</h5></a>*@
                            @*<div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="Cylinder_Monitoring_App" style="text-decoration:none"><h5 class="text-dark">Cylinder Monitoring App</h5>
                                <p class="text-dark">Developed a robust desktop application in .NET for comprehensive cylinder management, featuring delivery boy management, customer database maintenance, real-time cylinder inventory control, delivery status tracking, and payment status updates. The app streamlines delivery operations, enhances customer interaction, and provides accurate monitoring of inventory and payments, improving overall efficiency and operational oversight.</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 portfolio-wrap filter-app" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:540px">
                        <a asp-controller="Portfolio" asp-action="ABG_Mold_App"><img src="~/images/portfolio/abg mold app/abg1.png" class="img-fluid w-100 h-50" alt="ABG Mold App"></a>
                        <div class="portfolio-info">
                            @*<a asp-controller="Portfolio" asp-action="HealthManagementSystemApp" style="text-decoration:none"><h5 class="card-body text-success">Health Management System</h5></a>*@
                            @*<div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                        <div class="card-footer mt-3 text-center">
                            <a asp-controller="Portfolio" asp-action="ABG_Mold_App" style="text-decoration:none"><h5 class="text-dark">ABG Mold App</h5>
                                <p class="text-dark">@Truncate("As part of American Bath Group's digital transformation, We designed and developed the 'ABG Mold App' using Microsoft Power Apps Canvas App. This solution features intuitive multistep forms for easy data entry, Dataverse integration for secure data management, and Cloud Flow automation for real-time updates and communication. It includes a record visualization screen for comprehensive data analysis, seamless integration with the 'ABG Quality App,' and Power BI integration for insightful analytics. The app has greatly improved mold management processes, enhancing data accuracy, efficiency, and operational collaboration.",431)</p>
                                <div class="read-more justify-content-between"><i class="bi bi-arrow-right"></i> Read More</div>
                            </a>
                        </div>
                    </div>
                </div>

                @* <div class="col-lg-4 col-md-6 portfolio-wrap filter-PBI" style="background-color:white">
                    <div class="portfolio-item" style="background-color:aliceblue; height:200px">
                        <a asp-controller="Portfolio" asp-action="ABG_Quality_Report_App"><img src="~/images/portfolio/abg mold app/abg3.png" class="img-fluid w-100 h-75" alt="ABG Weekly Quality Report App"></a>
                        <div class="portfolio-info">
                            <a asp-controller="Portfolio" asp-action="HealthManagementSystemApp" style="text-decoration:none"><h5 class="card-body text-success">Health Management System</h5></a>
                            <div>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                        <div class="card-footer mt-2 text-center">
                            <a asp-controller="Portfolio" asp-action="ABG_Quality_Report_App" style="text-decoration:none"><h6 class="text-dark">ABG Weekly Quality Report App</h6></a>
                        </div>
                    </div>
                </div> *@
                @*<div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
                    <div class="portfolio-item">
                            <img src="~/assets/img/home.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>App 2</h3>
                            <div>
                                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
                    <div class="portfolio-item">
                            <img src="~/assets/img/home.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>Card 2</h3>
                            <div>
                                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>Web 2</h3>
                            <div>
                                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>App 3</h3>
                            <div>
                                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>Card 1</h3>
                            <div>
                                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>Card 3</h3>
                            <div>
                                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>Web 1</h3>
                            <div>
                                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>*@

            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main>

